*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Ota{
    position: relative;
    width: 100%;
    height: 100%;
}
.img img{
    width: 100%;
    height: 100vh;
    
}
.ota__child{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 150px ;
    color:white;
}
